*.sh text eol=lf
iotEdge/modules/CoolerModel/2022-01-18T14-01-36-bottom.json filter=lfs diff=lfs merge=lfs -text
iotEdge/modules/CoolerModel/2022-01-18T14-01-36-top.json filter=lfs diff=lfs merge=lfs -text
